@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-plane {
    background-image: url("https://i.imgur.com/ltvhrEV.jpg");
    background-position: center center;
    background-size: 150%;
    background-repeat: no-repeat;
}

.bg-destination {
    background-image: url("https://i.pinimg.com/originals/40/60/0f/40600ffc9209911d6a2adafb6d330502.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}


.bg-purple-400 {
    background-color: #7b4295;
}

.text-purple-400 {
    color: #7b4295;
}